.onboardingCarousel {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: var(--aiuta-max-height);
  aspect-ratio: var(--aiuta-aspect-ratio);
  max-width: calc(100% - 132px);
  margin: 60px auto 24px;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnailsList {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  row-gap: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.thumbnailItem {
  display: flex;
  cursor: pointer;
  width: min(8vh, 64px);
  height: min(10vh, 88px);
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2.551px 13.2px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-in-out;
  padding: 2px;

  &_active {
    width: min(10vh, 88px);
    height: min(14vh, 120px);
  }
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
