.onboardingCarousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnailsList {
  position: absolute;
  top: 50%;
  left: 66px; /* 66px from left where image content starts */
  display: flex;
  row-gap: 6px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.thumbnailItem {
  width: 64px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 2px; /* Padding instead of fixed image sizes */

  &_active {
    width: 88px;
    height: 120px;
  }
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carouselImage {
  width: 100%;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  padding: 0 66px;
  box-sizing: border-box;
}
