.modelsList {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 calc(50vw - 32px);
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth momentum scrolling on iOS */
  height: 104px;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

.modelCard {
  position: relative;
  flex-shrink: 0;
  width: 55px;
  height: 88px;
  cursor: pointer;
  transition:
    transform 0.3s,
    opacity 0.3s,
    width 0.3s,
    height 0.3s;
  opacity: 0.6;

  &_selected {
    width: 64px;
    height: 104px;
    opacity: 1;
  }
}
