.modelsList {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 0 var(--aiuta-inset-h);
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}

.modelCard {
  flex-shrink: 0;
  width: 55px;
  height: calc(55px / var(--aiuta-aspect-ratio));
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 0.3s,
    opacity 0.3s;
  opacity: 0.6;

  &_selected {
    width: 64px;
    height: calc(64px / var(--aiuta-aspect-ratio));
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
