.results {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnailSlider {
  height: 100%;
  max-height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transform: translateX(-27px);
  z-index: 1;
  display: flex;
  row-gap: 7px;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Common styles for icon buttons
.iconButton {
  position: absolute !important;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--aiuta-color-on-dark);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  z-index: 2;

  // Increase touch target area
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
  }
}

.shareButton {
  @extend .iconButton;
  top: 24px;
  right: 24px;
}

.otherPhoto {
  @extend .iconButton;
  bottom: 12px;
  left: 12px;

  // Override IconButton mobile padding/margin that affects positioning
  padding: 0 !important;
  margin: 0 !important;

  // Increase touch target area
  &::before {
    content: '';
    position: absolute;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
  }
}

.feedback {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 2;
}

.disclaimer {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 12px;
}

.disclaimer_compact {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 4px;
}
