/* @block buttonSecondary */
.secondaryButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  white-space: nowrap;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
