.pageBar {
  position: relative;
  min-height: 70px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pageBar_mobile {
  min-height: 56px;
  padding: 0 14px;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.titleContainer {
  width: 100%;
}

.titleLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

.actionButton,
.closeButton {
  cursor: pointer;
  flex-shrink: 0;
}

.selectButton {
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
}
