/* @block predefinedModels */
.models {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex-shrink: 0;
  padding: 8px var(--aiuta-inset-h);
}

.gallery {
  /* Less columns for models */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
}

.modelsList {
  flex-shrink: 0;
  padding: 8px 0;
}

.buttonContainer {
  flex-shrink: 0;
  padding: 8px var(--aiuta-inset-h) var(--aiuta-inset-v);
}

.errorState,
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  text-align: center;
  padding: var(--aiuta-inset-v);
}
