/* @block predefinedModels */
.models {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.tabs {
  margin-bottom: 6px;
  margin-top: -12px;
}

.gallery {
  /* Less columns for models */
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
}

.modelsList {
  margin-top: 24px;
}

.errorState,
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  text-align: center;
  padding: var(--aiuta-inset-v);
}
