.imageContent {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 555px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.emptyContent {
  max-width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    margin-top: 36px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: var(--text-secondary, #666);
  }
}
