.countDown {
  position: relative;
  width: 52px;
  height: 52px;

  .background {
    stroke: #78797c;
  }

  .progress {
    stroke: #fff;
    stroke-linecap: round;
  }

  .text {
    fill: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.07em;
    transform: translateY(1px);
  }
}
