.checkboxLabel {
  cursor: pointer;
  display: flex;
  column-gap: 16px;
  align-items: flex-start;

  input[type='checkbox'] {
    width: 20px;
    height: 20px;
    accent-color: #000;
  }

  label {
    cursor: pointer;
    font-size: 14px;

    a {
      display: block;
    }
  }
}
