.consentContent {
  height: 100%;
  padding: 0px 14px 0px 14px;

  .consentTilesBox {
    margin-bottom: 36px;

    h3 {
      color: var(--black);
    }
  }
}

.consentContentMobile {
  padding: 0px 0px 0px 8px;

  .consentTilesBox {
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    h3 {
      margin-top: 16px;
      color: var(--stone-cold);
    }
  }
}
