.removeHistoryBanner {
  padding: 16px;
  border-radius: 16px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttonLine {
    display: flex;
    column-gap: 26px;
    align-items: center;

    .text {
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      letter-spacing: -0.035em;
    }

    .cancelBtn {
      width: 82px;
      padding: 9px;

      p {
        font-size: 14px;
      }
    }
  }

  .iconsLine {
    display: flex;
    column-gap: 16px;
    align-items: center;

    img {
      cursor: pointer;
    }
  }
}
