/* @block buttonTryOn */
.tryOnButton {
  position: relative;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  width: 100%;
  background: var(--aiuta-color-brand);
  color: var(--aiuta-color-on-dark);
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &:hover {
    opacity: 0.9;
  }
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.tryOnButton_hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  cursor: default !important;
  transition: none !important;
}
