/* @block buttonTryOn */
.tryOnButton {
  display: flex;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  background: var(--aiuta-color-brand);
  color: var(--aiuta-color-on-dark);
  align-items: center;
  justify-content: center;
  margin: var(--aiuta-inset-v) auto;
  padding: var(--aiuta-inset-button);
  transition: all ease-in-out 0.3s;
  white-space: nowrap;
  width: calc(100% - 2 * var(--aiuta-inset-h));
  max-width: var(--aiuta-max-width);
  z-index: 1;
  column-gap: 4px;
}

.tryOnButton_mobile {
  margin-top: 0;
}

.tryOnButton_hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  cursor: default !important;
  transition: none !important;
}

.icon {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
