/* @block app */
.appContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--aiuta-color-background);
  transition: all ease-in-out 0.2s;
  z-index: 1;
  overflow: hidden;
}

// Desktop app styling
.appContainer_desktop {
  width: 394px;
  height: 632px;
  top: 12px;
  right: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

// Mobile fullscreen styling
.appContainer_mobile {
  width: 100dvw;
  height: 100dvh;
  top: 0;
  right: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;

  // Scale down for small screens
  @media (max-height: 600px), (max-width: 370px) {
    zoom: 0.8;
  }

  @media (max-height: 500px), (max-width: 300px) {
    zoom: 0.7;
  }

  @media (max-height: 420px), (max-width: 280px) {
    zoom: 0.6;
  }

  @media (max-height: 370px), (max-width: 250px) {
    zoom: 0.5;
  }

  @media (max-height: 320px), (max-width: 220px) {
    zoom: 0.4;
  }

  @media (max-height: 269px), (max-width: 169px) {
    display: none;
  }
}

// Hidden state
.appContainer_hidden {
  pointer-events: none;
  transform: translateX(110%);
}
