.secondaryButton {
  cursor: pointer;
  width: 170px;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #f2f2f7;

  p {
    color: #000;
    font-family: GT Maru;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.07em;
  }
}
