.onboarding {
  position: relative;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .obboardingStepBox {
    .step {
      transition: all ease-in-out 0.3s;
      width: 100%;
      position: absolute;
      display: flex;
      row-gap: 30px;
      align-items: center;
      flex-direction: column;
      left: 0;
      top: 30px;

      &.firstStep {
        position: relative;
      }

      &.unactiveStep {
        transform: translateX(1000px);
      }

      &.unactiveActiveStep {
        transform: translateX(-1000px) !important;
      }

      &.activeStep {
        transform: translateX(0px);
      }

      .titlesBox {
        margin: auto;
        max-width: 280px;

        h2 {
          color: #000;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.07em;
          text-align: center;
        }

        h3 {
          margin-top: 12px;
          color: #666666;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
        }
      }

      .firstImg {
        max-width: 310px;
        max-height: 267px;
      }

      .lastImg {
        max-width: 300px;
        max-height: 264px;
      }
    }
  }
}

.onboardingMobile {
  position: relative;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    margin-bottom: 12px;
  }

  .obboardingStepBox {
    position: relative;

    .initiallyBoardingStep {
      position: relative;

      .miniImagesBox {
        position: absolute;
        top: 50%;
        left: 0%;
        display: flex;
        row-gap: 8px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translate(-50%, -50%);

        .imageBanner {
          width: 64px;
          height: 88px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0px 2.09px 10.8px 0px #0000001f;

          img {
            width: 40px;
            height: 63px;
            object-fit: cover;
          }
        }

        .imageBannerActive {
          transition: all 0.3s ease-in-out;
          width: 88px;
          height: 120px;

          img {
            transition: all 0.3s ease-in-out;
            width: 56px;
            height: 89px;
          }
        }
      }
    }

    .step {
      transition: all ease-in-out 0.3s;
      width: 100%;
      position: absolute;
      display: flex;
      row-gap: 38px;
      align-items: center;
      flex-direction: column;
      left: 0;
      top: 0;
      margin-bottom: 35px;

      .consentContent {
        margin-top: 30px;

        label {
          max-width: 280px;
        }
      }

      &.firstStep {
        position: relative;
      }

      &.unactiveStep {
        transform: translateX(1000px);
      }

      &.unactiveActiveStep {
        transform: translateX(-1000px) !important;
      }

      &.activeStep {
        transform: translateX(0px);
      }

      .titlesBoxMobile {
        margin: auto;
        max-width: 280px;

        h2 {
          color: #000;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.07em;
          text-align: center;
        }

        h3 {
          margin-top: 12px;
          color: #666666;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0px;
          text-align: center;
        }

        .largeTilte {
          h3 {
            max-width: 275px;
          }
        }

        h2 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 15px;
          letter-spacing: -0.02em;
        }

        h3 {
          margin: auto;
          max-width: 175px;
          letter-spacing: -0.02em;
        }
      }

      .firstImg {
        max-width: 245px;
        max-height: 368px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 18px;
      }

      .lastImg {
        max-width: 300px;
        max-height: 264px;
      }
    }
  }
}
