// QR code container
.qrBox {
  position: relative;
  max-width: 220px;
  max-height: 220px;
  border-radius: 21px;
  overflow: hidden;
}

// Loading spinner overlay
.spinnerOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
