.poweredBy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  padding: 0 16px;
}

.label {
  text-align: center;
  margin: 0;
  background-color: var(--aiuta-color-neutral);
  display: inline-block;

  /* Override global aiuta-button-s shape for pill design */
  border-radius: 50px !important;
  padding: 8px 12px !important;
  margin-bottom: 6px;
}
