/* @block disclaimer */
.disclaimer {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  gap: 4px;
  color: var(--aiuta-color-secondary);
  cursor: pointer;
}

.icon {
  flex-shrink: 0;
}

.text {
  flex: 1;
}
