.checkboxLabel {
  display: flex;
  column-gap: 16px;
  align-items: flex-start;
}

.input {
  /* Reset browser styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Custom styling */
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid var(--aiuta-color-border);
  background-color: transparent;
  cursor: pointer;

  /* Checked state */
  &:checked {
    background-color: var(--aiuta-color-primary);
    border-color: var(--aiuta-color-primary);

    /* Add checkmark */
    background-image: url("data:image/svg+xml,%3csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.1785 1.66667L5.33333 9.51185L0.821487 5L2 3.82149L5.33333 7.15483L12 0.488159L13.1785 1.66667Z' fill='white'/%3e%3c/svg%3e");
    background-size: 14px 10px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.label {
  cursor: pointer;

  a {
    display: block;
  }
}
