.sectionContent {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: calc(100vh - 90px);
  // min-height: 540px;
}

.viewContent {
  height: 100%;
  min-height: 100%;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  justify-content: space-between;

  // .selectableImageMobile {
  //   // max-height: 162px;

  //   img {
  //     // max-height: 162px;
  //   }
  // }
}

.imageContent {
  // height: 100%;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 555px;

  // &.imageContentMobile{
  //   max-height: 80vh;
  //   row-gap: 5px;
  //   background-color: red;
  // }

  &::-webkit-scrollbar {
    display: none;
  }
}

.historyBanner {
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 7.5px;
  max-width: 377px;
  bottom: -200px;
}

.activeHistoryBanner {
  bottom: 0px;
}

.activeHistoryBannerMobile {
  bottom: -45px;
}

.emptyContent {
  max-width: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    margin-top: 36px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.035em;
  }
}
