.fullScreenModal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000e5;

  .fullImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 524px;
    border-radius: 0px !important;
  }

  .closeIconBox {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;

    .closeIcon {
      filter: brightness(0) invert(1);
    }
  }
}
