/* @block abortAlert */
.abortAlert {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background-color 0.2s ease-out;
}

/* Animation states */
.abortAlert_opening {
  background: transparent;
}

.abortAlert_open {
  background: var(--aiuta-color-container-dim);
}

.abortAlert_closing {
  background: transparent;
}

.modal {
  margin: 0 32px;
  text-align: center;
  background-color: var(--aiuta-color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  margin: 32px 16px 16px;
}
