.onboardingDesktop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.stepsContainer {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
