.imageManager {
  position: relative;
}

.changePhotoButton {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 25px;
  border: none;
  border-radius: 9px;
  background: #ffffff66;
  backdrop-filter: blur(10px);
  color: #000;
  font-family: GT Maru;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.035em;
  cursor: pointer;
  min-width: 160px;
  text-wrap: nowrap;
}
