.viewContent {
  position: relative;
  display: flex;
  row-gap: 30px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;

  .generatedImagesSlider {
    height: 100%;
    max-height: 460px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    transform: translateX(-27px);
    z-index: 1;
    display: flex;
    row-gap: 7px;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .generatedImagesScrollableView {
    max-height: 460px;
    overflow-x: hidden;
    border-radius: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    .viewItem {
      scroll-snap-align: center;
    }
  }

  .generatedImagesScrollableViewMobile {
    width: 100%;
    max-width: 295px;
    max-height: 460px;
    overflow-x: hidden;
    border-radius: 20px;

    .viewContent {
      position: relative;

      .viewItem {
        max-width: 100%;

        img {
          width: 100%;
        }
      }

      .shareBox {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 12px;
        right: 12px;
        display: flex;
        cursor: pointer;
        border-radius: 50%;
        background: #ffffff;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.sectionMobile {
  display: flex;
  align-items: center;
  justify-content: center;

  .viewContent {
    width: 100%;
    max-width: 295px;
    padding-bottom: 0px;
  }
}
