// ErrorSnackbar component - classes for generateScopedName
.errorSnackbar {
  transition: all 0.3s ease-in-out;
  width: 93%;
  padding: 12px 16px;
  position: absolute;
  left: 16px;
  bottom: -200px;
  z-index: 100;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorSnackbarError {
  background: #ef5754;
}

.errorSnackbarActive {
  transition: all 0.3s ease-in-out;
  bottom: 15px;
}

.content {
  p {
    max-width: 185px;
    font-family: GT Maru;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    letter-spacing: -0.025em;
  }
}

.contentFullWidth {
  p {
    max-width: 100%;
  }
}

.button {
  width: auto;
  padding: 9px 16px;
  min-height: 36px;

  p {
    font-family: GT Maru;
    font-weight: 500;
    font-size: 14px;
    line-height: unset;
    color: var(--black);
    letter-spacing: -0.035em;
  }
}
